html,
body {
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
main {
  display: flex;
  text-align: center;
  flex-direction: row;
  flex: 4;
}
.platus {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 4;
}
.siauras {
  display: flex;
  flex-direction: column;
  flex: 6;
}
section {
  display: flex;
  flex-direction: row;
  flex: 1;
}
header {
  background-color: #4ed6ec;
  text-align: center;
  margin-bottom: 10px;
}
.hero {
  background-color: #d7c9e3;
  margin: 0 10px 10px 0;
  text-align: center;
  flex: 4;
}
.sidebar {
  background-color: #9ec369;
  margin: 0 10px 10px 0;
  text-align: center;
  flex: 6;
}
.main {
  background-color: #efc13f;
  margin-bottom: 10px;
  text-align: center;
  flex: 6;
}
.extra {
  background-color: #898989;
  margin-bottom: 10px;
  text-align: center;
  flex: 4;
}
.relatedImg {
  background-color: #1a9e67;
  margin: 0 10px 10px 0;
  text-align: center;
  flex: 4;
}
.relatedPosts {
  background-color: #e2bacb;
  margin-bottom: 10px;
  text-align: center;
  flex: 2;
}
footer {
  background-color: #ffa520;
  text-align: center;
}
